/* #273250 */
/* #1b2136 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family:  'Montserrat', sans-serif;
}

.main {
    background-color: #1b2136 ;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.container {
    padding: 40px;  
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    /* filter: drop-shadow(1px 1px 10px rgba(0,0,0,1)); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.container * {
    width: max-content;
}

.container h1 {
    color: gold;
    align-self: center;
    font-size: 72px;
}

.container p {
    margin-top: 10px;
    color: azure;
    font-size: 32px;
}

.container button {
    margin-top: 30px;
    align-self: center;
    font-size: 24px;
    border: none;
    outline: none;
    padding:10px 15px;
    font-weight: 600;   
    border-radius: 15px;
    color: #273250;
    transition: all ease 0.3s;
    cursor: pointer;
}

.container button:hover {
    background: #273250 ;
    color: azure;
}



